#orderDialog {
    width: 79vw;
    height: 80vh;

    min-width: 700px;
    min-height: 500px;

    max-width: 1100px;
    max-height: 900px;

    padding: 0;
    border: 9px solid #4f4f4f;
    border-radius: 0px;
    outline: 1px solid #808080;
}

#orderDialog::backdrop {
    background: rgba(0,0,0,.9);
}

#katalogDialog {
    width: 79vw;
    height: 80vh;

    min-width: 700px;
    min-height: 500px;

    max-width: 1100px;
    max-height: 900px;

    padding: 0;
    border: 9px solid #4f4f4f;
    border-radius: 0px;
    outline: 1px solid #808080;
}

#katalogDialog::backdrop {
    background: rgba(0,0,0,.9);
}

.dialogContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dialogBody {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background: white;
    border: 6px solid white;
    outline: none;
}

.dialogFooter {
    display: flex;
    justify-content: flex-end;/* кнопки справа */
    align-items: center;      /* вертикальное выравнивание */
    gap: 10px;                /* расстояние между кнопками */

    height: 34px;             /* фиксированная высота */
    box-sizing: border-box;   /* высота включает border */

    padding: 0 10px;          /* только горизонтальные отступы */
    border-top: 1px solid #c0c0c0;
    background: #ebeaec;
}

.dialogButtons {
    padding: 2px 12px;
    font-size: 13px;
    cursor: pointer;
}

.dialogClose {
    width: 30px;
    height: 30px;
    color: #888;
    background: transparent;
    border: none;
    transition: color .2s;
    box-sizing: border-box;
}

.dialogClose:hover {
    color: #111;
}

.dialogClose svg {
    width: 25px;
    height: 25px;
    fill: none;
    stroke: currentColor;
    stroke-width: 5;      /* толще */
    stroke-linecap: butt;  /* закругленные концы */
    stroke-linejoin: round;
}

A.HoMe:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600;
}
A.HoMe {
	COLOR: #ffcc33; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; text-shadow: 2px 2px black;
}
.HoMe {
	cursor:hand; cursor:pointer
}
.wp-block-columns{box-sizing:border-box;display:flex;flex-wrap:wrap!important}@media (min-width:782px){.wp-block-columns{flex-wrap:nowrap!important}}.wp-block-columns{align-items:normal!important}.wp-block-columns.are-vertically-aligned-top{align-items:flex-start}.wp-block-columns.are-vertically-aligned-center{align-items:center}.wp-block-columns.are-vertically-aligned-bottom{align-items:flex-end}@media (max-width:781px){.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{flex-basis:100%!important}}@media (min-width:782px){.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{flex-basis:0;flex-grow:1}.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis]{flex-grow:0}}.wp-block-columns.is-not-stacked-on-mobile{flex-wrap:nowrap!important}.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column{flex-basis:0;flex-grow:1}.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column[style*=flex-basis]{flex-grow:0}:where(.wp-block-columns){margin-bottom:1.75em}:where(.wp-block-columns.has-background){padding:1.25em 2.375em}.wp-block-column{flex-grow:1;min-width:0;overflow-wrap:break-word;word-break:break-word}.wp-block-column.is-vertically-aligned-top{align-self:flex-start}.wp-block-column.is-vertically-aligned-center{align-self:center}.wp-block-column.is-vertically-aligned-bottom{align-self:flex-end}.wp-block-column.is-vertically-aligned-stretch{align-self:stretch}.wp-block-column.is-vertically-aligned-bottom,.wp-block-column.is-vertically-aligned-center,.wp-block-column.is-vertically-aligned-top{width:100%}