RewriteEngine On
RewriteBase /
Redirect /russian-interlinear-html/ http://onlinebible.github.io/russian-interlinear-html/index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)\.htm$ $1.html [L,R=301]