Redirect /russian-interlinear-html/ http://onlinebible.github.io/russian-interlinear-html/index.html
Redirect 301 /russian-interlinear-html/Ge/ge1.htm http://onlinebible.github.io/russian-interlinear-html/Ge/ge1.html
