/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,body,canvas,caption,center,cite,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,hgroup,html,i,iframe,ins,label,legend,li,menu,nav,object,output,q,ruby,s,samp,section,small,span,strike,strong,summary,tbody,tfoot,thead,time,tr,tt,u,var,video{margin:0;padding:0;font:inherit;border:0;vertical-align:baseline}h1,h2,h3,h4,ol,p,ul{padding:0;font:inherit;border:0}blockquote,img,sub,sup{font:inherit;border:0}pre{font:inherit;overflow:auto}code,header,kbd,mark,td,th{margin:0;font:inherit;border:0;vertical-align:baseline}img,sub,sup{margin:0;padding:0}table{margin:0;padding:0;font:inherit;border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* main */
body{max-width:1280px;margin:0 auto;padding:24px;justify-content:center}
@media (max-width:600px){body{padding:12px}}
body{text-size-adjust:100%;line-height:1.6;font-family:Helvetica,Arial,sans-serif;font-weight:400;color:#404040}b,strong{font-weight:700}em,i{font-style:italic}
/* design */
P {
	font:			16px Arial, Helvetica, sans-serif;
	margin-top:		16pt;
	text-align:		justify;
}

B {
	font:			18px Times,Helvetica,sans-serif;
}

FORM { 
	font:			9px Arial, Helvetica, sans-serif;
}

TD { 
	font:			18px Times,Helvetica,sans-serif;
}

U {
	font:			8pt Arial, Helvetica, sans-serif;
	color:			#1473e6;
	cursor:			pointer; 
}

A { 
	font:			16px Arial, Helvetica, sans-serif;
	color:			#1473e6;
	cursor:			pointer; 
	text-decoration:	underline;
}
A:hover { 
	font:			16px Arial, Helvetica, sans-serif;
	color:			red;
	cursor:			pointer; 
	text-decoration:none;
}

a:focus{
	outline:orange dotted
}

/* header */
#header A { 
	font:			14px Arial, Helvetica, sans-serif;
	width:			100%; 
    line-height:    30px;
	margin:         0;
	padding:        0;
	display: 		block;
	color:			#555; 
	background:		#cce4f4;
	text-align:		center; 
	text-decoration:	none; 
}
#header A:hover { 
	color:			#555; 
	background:		#98d0f6; 
}

/* design words */
.strongs {
	font:			8pt Arial, Helvetica, sans-serif;
	color:			blue;
}

.translit {
	font:			10pt Arial, Helvetica, sans-serif;
	color:			green;
}

.hebrew {
	font:			30px Times, Helvetica, sans-serif;
	color:			#000066;
}

.eng {
	font:			10pt Arial, Helvetica, sans-serif;
	color:			#d55500;
}
.eng I {
	font:			10pt Arial, Helvetica, sans-serif;
	font-style:		italic;
	color:			#d55500;
}
.strongsnt {
	font:			8pt Arial, Helvetica, sans-serif;
	font-style:		italic;
	color:			#0092f2;
	white-space:	nowrap;
}

/* top-menu */
  .top-menu{width: 100%;}
  .top-space{clear: both; margin-bottom: 8px;}

/* menu */
SELECT {
	min-width: 80px;
	font-family: inherit;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #eee;
	color: #555;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
  }
  BUTTON {
	min-width: 50px;
	font-family: inherit;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676d7;
	color: #fff;
	padding: 8px 12px;
	font-size: 14px;
	cursor: pointer;
  }
  BUTTON:hover {
	background: #1d49aa;
  }
  
  BUTTON:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
  }
  SELECT:hover {
	background: #ddd
  }

/* design chapters */
.chapter{width: 100%; text-align: center; margin: 10px 0;}
.word{float: right; height: 120px; text-align: center;}
.verse{width: 20px; vertical-align: top; text-align: center; padding-top: 5px;}

/* bottom */
.bottom-space{clear: both; margin-bottom: 40px;}